@font-face {
  font-family: FZJH;
  src: url('~@/static/font/FZJingHJW.TTF') format('truetype');
}
@font-face {
  font-family: FZSanBTJW_Zhun;
  src: url('~@/static/font/FZSanBTJW_Zhun.TTF') format('truetype');
}
